source /home/pete/code/rust/book_legion/commands.sh

use flake ~/code/envs#rust
use flake ~/code/envs#python 
use flake ~/code/envs#go

export PATH="/home/pete/code/rust/book_legion/.cargo/bin:$PATH"

