#source /home/pete/code/rust/book_legion/commands.sh

use flake ~/code/envs#rust
use flake ~/code/envs#dioxus
use flake ~/code/envs#go
use flake ~/code/envs#llama --impure

export PATH="/home/pete/code/rust/book_legion/.cargo/bin:$PATH"
