source /home/pete/code/rust/book_legion/commands.sh

use flake ~/code/envs#rust
use flake ~/code/envs#python 
use flake ~/code/envs#go
NIXPKGS_ALLOW_UNFREE=1 use flake ~/code/envs#python-ml --impure

export PATH="$PATH:/home/pete/code/rust/book_legion/.cargo/bin"
